/* contactus.css */

/* Style the background container */
.custom-background {
    background-color: #f5f5f5;
    border-radius: 5px;

    padding: 30px; /* Increased padding for more space around content */
    font-family: Arial, sans-serif;
    max-width: 500px; /* Increased max-width for a larger box */
    margin: 0 auto;
    text-align: left;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px 0px #ddd;
    border-radius: 10px; /* Increased border radius for rounded corners */
    transition: background 0.3s;
  
    &:hover {
      background: #f5f5f5;
    }
  }
  
  /* Style the heading */
  h2 {
    font-size: 32px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  /* Style the paragraphs */
  p {
    font-size: 24px;
    color: #1f98f4;
    margin: 15px 0; /* Increased spacing between paragraphs */
  }
  